@model Student_Manaegement_System.Models.TBLStudent

@{
    ViewBag.Title = "AddTBLStudent";
    Layout = "~/Views/Layout/UsingLayout.cshtml";
    var datenow = DateTime.Now;
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="container-fluid form-horizontal">
    <h2 class="text-center">Add Students</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.NameSt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.NameSt, new { htmlAttributes = new { @class = "form-control", @placeholder ="Student Name" } })
            @Html.ValidationMessageFor(model => model.NameSt, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.BirthDateSt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @*@Html.EditorFor(model => model.BirthDateSt, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.BirthDateSt, "", new { @class = "text-danger" })*@
            <input type="date" name="Birthdate" class="form-control" />
        </div>
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.AddressSt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.AddressSt, new { htmlAttributes = new { @class = "form-control" ,@placeholder = "Address" } })
            @Html.ValidationMessageFor(model => model.AddressSt, "", new { @class = "text-danger" })
        </div>
    </div>

   
    <div class="form-group" style="display:none;">
        @Html.LabelFor(model => model.CreateDateSt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            <input type="text" value="@datenow" name="CreateDateSt" class="form-control" />
        </div>
    </div>

    
    <div class="form-group"style="display:none;">
        @Html.LabelFor(model => model.IdCr, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            <input type="text" value="@ViewBag.Test" name="IdCr" class="form-control" />
        </div>
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
        </div>
    </div>
</div>
}


