@model Student_Manaegement_System.Models.TBLClassRoom

@{
    ViewBag.Title = "InsertTBLClassRoom";
    Layout = "~/Views/Layout/UsingLayout.cshtml";
    var datenow = DateTime.Now;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container form-horizontal">
        <br />
        <h2 class="text-center">Add ClassRoom</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group ">
            @Html.LabelFor(model => model.NameCr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.NameCr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Classroom Name" } })
                @Html.ValidationMessageFor(model => model.NameCr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.CreateDateCr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2" >
                <input type="text" value="@datenow" name="CreateDateCr"/>
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
}

