@model IEnumerable<Student_Manaegement_System.Models.TBLStudent>

@{
    ViewBag.Title = "ListTBLSudent";
    Layout = "~/Views/Layout/UsingLayout.cshtml";
}

<h2 class="text-center">Student List</h2>

<div class="mb-2 p-3">
    @Html.ActionLink("Create Student", "AddTBLStudent", null, htmlAttributes: new { @class = "btn btn-primary" })
    <hr />
</div>

<div class="mb-2 p-3">
    <table class="table ">
        <tr>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.IdSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDateSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDateSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCr)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => item.IdSt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameSt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDateSt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressSt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDateSt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCr)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdSt }, htmlAttributes: new { @class = "btn btn-success mr-2", @type = "buttton" })
                    @Html.ActionLink("Details", "Details", new { id = item.IdSt }, htmlAttributes: new { @class = "btn btn-info mr-2", @type = "buttton" })
                    @Html.ActionLink("Delete", "DeleteTBLStudent", new { id = item.IdSt }, htmlAttributes: new { @class = "btn btn-danger mr-2", @type = "buttton" })
                </td>
            </tr>
        }

    </table>
    <hr />
</div>
    <div class="form-group">
        <div class="mb-2 p-3">
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
        </div>
    </div>