@model IEnumerable<Student_Manaegement_System.Models.TBLStudent>

@{
    ViewBag.Title = "OrderByAscId";
    Layout = "~/Views/Layout/UsingLayout.cshtml";
}

<h2 class="text-center">List By Ascending</h2>

<div class="mb-2 p-3">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDateSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDateSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCr)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameSt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDateSt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressSt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDateSt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCr)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdSt }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdSt }) |
                    @Html.ActionLink("Delete", "DeleteTBLStudent", new { id = item.IdSt })
                </td>
            </tr>
        }
    </table>
    <hr />
</div>
<div class="form-group">
    <div class="mb-2 p-3">
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
    </div>
</div>